/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  min-height: 100vh;
  font-family: "Poppins";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800; /* Custom font weight for "Extra Bold" */
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800; /* Custom font weight for "Extra Bold" */
  font-style: italic;
}

/* Root styles */
:root {
  /* Colors */
  --purple: 259, 100%, 65%;
  --light-red: 0, 100%, 67%;

  --white: 0, 0%, 100%;
  --off-white: 0, 0%, 94%;
  --light-grey: 0, 0%, 86%;
  --smokey-grey: 0, 1%, 44%;
  --off-black: 0, 0%, 8%;
  /* Typography */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-800: 3.5rem;

  --fw-400i: 400;
  --fw-700: 700;
  --fw-800i: 800;
}

body {
  padding: 5.75rem 1rem 0;
  background-color: hsl(var(--off-white));
  display: grid;
  justify-content: center;
}

main {
  padding: 3rem 1.5rem;
  background-color: hsl(var(--white));
  max-width: 52.5rem;
  height: fit-content;
  display: grid;
  place-content: center;
  gap: 1rem;
  border-radius: 2rem 2rem 7.5rem 2rem;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.grid-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.input-group label {
  font-size: var(--fs-300);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: hsl(var(--smokey-grey));
  font-weight: var(--fw-700);
}
.input-group input {
  margin-top: 0.25rem;
  padding: 1rem 0 1rem 1rem;
  width: 100%;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--light-grey));
  outline-color: hsl(var(--purple));
}
/* Target webkit-based browsers (Opera, Chrome) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Target Mozilla-based browsers (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

.error-msg {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  font-style: italic;
  color: hsl(var(--light-red));
}

.container {
  position: relative;
  display: grid;
  justify-content: center;
  z-index: 1;
}
.arrow-button {
  align-self: center;
  padding: 2rem;
  max-height: 4rem;
  background-color: hsl(var(--purple));
  background-image: url("assets/images/icon-arrow.svg");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.bar {
  position: absolute;
  top: 50%; /* Position the line in the middle of the button */
  left: 0;
  width: 100%; /* Make the line span the full width of the container */
  height: 1px;
  background-color: hsl(var(--off-black), 0.2); /* Color of the line */
  z-index: -1;
}
.arrow-button:hover,
.arrow-button:focus {
  background-color: hsl(var(--off-black));
}

.age-display {
  font-weight: var(--fw-800i);
  font-style: italic;
  font-size: var(--fs-800);
  line-height: 1.1;
}
.fc-purple {
  color: hsl(var(--purple));
}

/* Media Queries */
@media (min-width: 44rem) {
  :root {
    --fs-800: 6rem;
  }
  body {
    padding-top: 10vh;
  }
  main {
    padding: 3.25rem;
    gap: 0;
    border-radius: 1rem 1rem 10rem 1rem;
  }
  .grid-group {
    grid-template-columns: repeat(4, 1fr);
  }
  form {
    grid-template-rows: 1fr auto;
    gap: 0;
  }
  .input-group label {
    font-size: var(--fs-400);
  }
  .input-group input {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    font-size: var(--fs-600);
  }
  .error-msg {
    margin-top: 0.5rem;
  }
  .container {
    justify-content: end;
  }
  .arrow-button {
    padding: 3rem;
    background-size: 2.75rem;
  }
}
